@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
    max-height: 100vh;
    /* 화면 높이를 초과하지 않도록 설정 */
    overflow-y: auto;
    /* 세로 스크롤 가능하도록 설정 */
    /* overflow-x: hidden;  */
    position: relative;
    background-color: #1C1B1A;
    margin: 5% 5%;
    width: 90%;
    height: 90vh;
    justify-items: center;
}

.hf {
    color: white;
    text-align: center;
    padding-top: 15%;
    font-size: 150%;
    /* max-width: 312px; */
}

.hf img {
    width: 50%;
}

.if_reg {
    color: white;
    text-align: center;
    padding-top: 2%;
    font-size: 100%;
}

.if_reg img {
    width: 90%;
}

.middle {
    width: 881px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;

    justify-items: center;
    margin: 0 auto;
    margin-top: 5%;
}

.mat_sus {
    font-family: 'ONE-Mobile-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    color: #1C1B1A;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 885px;
    height: 104px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FFF;
    margin-top: 10%;
    margin-bottom: 10%;
}

.result_ct {
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding-top: 5%;
}

.left_title>div {
    width: 75px;
}


@media all and (max-width:479px) {
    body {
        margin: 0px;
    }

    .main {
        margin: 0px;
        height: 100vh;
        width: 100%;
        position: relative;
        justify-items: center;
    }

    .middle {
        display: flex;
        width: 80%;
        height: 50%;
        flex-shrink: 0;
        border-radius: 12px;
        background: #FFF;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .bottom {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 10%;
        justify-content: center;


    }

    .mat_sus {
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1.2em;
        width: 90%;
    }

    .result_ct {
        display: flex;
        flex-direction: row;
        gap: 1.2em;
        /* padding-top: 10%;   */
        /* padding-bottom: 10%; */
        margin-left: 2%;
        margin-right: 2%;
        margin: 0 1em;
        padding-top: 0px;
        width: 80%;
    }

    .left_title {
        width: 75px;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .right_title {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 50%;
    }
}

@media all and (min-width:480px) and (max-width:1024px) {
    body {
        margin: 0px;
    }

    .main {
        margin: 0px;
        height: 100vh;
        width: 100%;
        position: relative;
        justify-items: center;
    }

    .middle {
        display: flex;
        width: 60%;
        height: 50%;
        flex-shrink: 0;
        border-radius: 12px;
        background: #FFF;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .bottom {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 10%;
        justify-content: center;

    }

    .mat_sus {
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1.2em;
        width: 60%;
    }

    .result_ct {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 1.2em;
        /* padding-top: 10%;   */
        /* padding-bottom: 10%; */
        margin-left: 2%;
        margin-right: 2%;
        margin: 0 1em;
        padding-top: 0px;
        justify-content: space-evenly;
    }



    .left_title {
        width: 75px;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .right_title {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media all and (min-width:1025px) and (max-width:1919px) {
    body {
        margin: 0px;
    }

    .main {
        margin: 0px;
        height: 100vh;
        width: 100%;
        position: relative;
        justify-items: center;
    }

    .middle {
        display: flex;
        width: 50%;
        height: 50%;
        flex-shrink: 0;
        border-radius: 12px;
        background: #FFF;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .bottom {
        display: flex;
        width: 100%;
        height: 20vh;
        /* margin-top: 10%; */
        justify-content: center;

    }

    .mat_sus {
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1.2em;
    }

    .result_ct {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 1.2em;
        /* padding-top: 10%;   */
        /* padding-bottom: 10%; */
        margin-left: 2%;
        margin-right: 2%;
        margin: 0 1em;
        padding-top: 0px;
        justify-content: space-evenly;
    }



    .left_title {
        width: 75px;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .right_title {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .left_title>div {
        width: 75px;
        font-size: 1em;
    }

    .right_title>div {
        font-size: 1em;
    }
}

@media all and (min-width:1920px) {

    body {
        margin: 0px;
    }

    .main {
        margin: 0px;
        height: 100vh;
        width: 100%;
        position: relative;
        justify-items: center;
    }

    .middle {
        display: flex;
        width: 50%;
        height: 50%;
        flex-shrink: 0;
        border-radius: 12px;
        background: #FFF;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .bottom {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 0%;
        justify-content: center;

    }

    .mat_sus {
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1.2em;
        
    }

    .result_ct {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 1.2em;
        /* padding-top: 10%;   */
        /* padding-bottom: 10%; */
        margin-left: 2%;
        margin-right: 2%;
        margin: 0 1em;
        padding-top: 0px;
        justify-content: space-evenly;
    }


    .left_title {
        width: 120px;
        display: flex;
        flex-direction: column;
        gap: 2.3em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .right_title {
        display: flex;
        flex-direction: column;
        gap: 2.3em;
        font-family: 'ONE-Mobile-Title';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
        color: #1C1B1A;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .left_title>div {
        font-size: 1.5em;
        width: 120px;
    }

    .right_title>div {
        font-size: 1.5em;
    }
}